# SPDX-FileCopyrightText: (C) 2022 Cem Geçgel gecgelcem@outlook.com
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = glad
	url = https://github.com/Waistax/glad.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
